@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --color-dark-bg: #1f2937;
  --color-hero-main: #f9faf8;
  --color-hero-secondary: #e5e7eb;
  --color-button: #3882f6;
  --color-info-header: #1f2937;
  --color-quote-bg: #e5e7eb;
  --color-quote-text: #1f2937;
  --color-image-container: #6d747d;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}
